@font-face {
    font-family: ADM;
    src: url(./fonts/AyerDeckMedium.woff2);
}

@font-face {
    font-family: adr;
    src: url(./fonts/AyerDeckRegular.woff2);
}

@font-face {
    font-family: apri;
    src: url(./fonts/AyerPosterRegularItalic.woff2);
}

@font-face {
    font-family: ev;
    src: url(./fonts/EpilogueVariableFont_wght.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

#main{
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

#hero{
    height: 140vh;
    width: 100%;
    background-color: #EDEBE3;
    padding-top: 1px;
    position: relative;
}

.nav{
    height: 130px;
    width: 100%;
    background-color: #EDEBE3;
    /* background-color: #EDEBE3; */
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid #1D1D1B;
    position: relative;
    z-index: 99;
    position: fixed;

}

.nav svg{
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    --wp--preset--font-size--normal: 16px;
    --wp--preset--font-size--huge: 42px;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    --wp--preset--color--black: #000;
    --wp--preset--color--cyan-bluish-gray: #abb8c3;
    --wp--preset--color--white: #fff;
    --wp--preset--color--pale-pink: #f78da7;
    --wp--preset--color--vivid-red: #cf2e2e;
    --wp--preset--color--luminous-vivid-orange: #ff6900;
    --wp--preset--color--luminous-vivid-amber: #fcb900;
    --wp--preset--color--light-green-cyan: #7bdcb5;
    --wp--preset--color--vivid-green-cyan: #00d084;
    --wp--preset--color--pale-cyan-blue: #8ed1fc;
    --wp--preset--color--vivid-cyan-blue: #0693e3;
    --wp--preset--color--vivid-purple: #9b51e0;
    --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg,rgba(6,147,227,1) 0%,#9b51e0 100%);
    --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg,#7adcb4 0%,#00d082 100%);
    --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg,rgba(252,185,0,1) 0%,rgba(255,105,0,1) 100%);
    --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg,rgba(255,105,0,1) 0%,#cf2e2e 100%);
    --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg,#eee 0%,#a9b8c3 100%);
    --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg,#4aeadc 0%,#9778d1 20%,#cf2aba 40%,#ee2c82 60%,#fb6962 80%,#fef84c 100%);
    --wp--preset--gradient--blush-light-purple: linear-gradient(135deg,#ffceec 0%,#9896f0 100%);
    --wp--preset--gradient--blush-bordeaux: linear-gradient(135deg,#fecda5 0%,#fe2d2d 50%,#6b003e 100%);
    --wp--preset--gradient--luminous-dusk: linear-gradient(135deg,#ffcb70 0%,#c751c0 50%,#4158d0 100%);
    --wp--preset--gradient--pale-ocean: linear-gradient(135deg,#fff5cb 0%,#b6e3d4 50%,#33a7b5 100%);
    --wp--preset--gradient--electric-grass: linear-gradient(135deg,#caf880 0%,#71ce7e 100%);
    --wp--preset--gradient--midnight: linear-gradient(135deg,#020381 0%,#2874fc 100%);
    --wp--preset--duotone--dark-grayscale: url('#wp-duotone-dark-grayscale');
    --wp--preset--duotone--grayscale: url('#wp-duotone-grayscale');
    --wp--preset--duotone--purple-yellow: url('#wp-duotone-purple-yellow');
    --wp--preset--duotone--blue-red: url('#wp-duotone-blue-red');
    --wp--preset--duotone--midnight: url('#wp-duotone-midnight');
    --wp--preset--duotone--magenta-yellow: url('#wp-duotone-magenta-yellow');
    --wp--preset--duotone--purple-green: url('#wp-duotone-purple-green');
    --wp--preset--duotone--blue-orange: url('#wp-duotone-blue-orange');
    --wp--preset--font-size--small: 13px;
    --wp--preset--font-size--medium: 20px;
    --wp--preset--font-size--large: 36px;
    --wp--preset--font-size--x-large: 42px;
    --wp--preset--spacing--20: .44rem;
    --wp--preset--spacing--30: .67rem;
    --wp--preset--spacing--40: 1rem;
    --wp--preset--spacing--50: 1.5rem;
    --wp--preset--spacing--60: 2.25rem;
    --wp--preset--spacing--70: 3.38rem;
    --wp--preset--spacing--80: 5.06rem;
    --wp--preset--shadow--natural: 6px 6px 9px rgba(0,0,0,.2);
    --wp--preset--shadow--deep: 12px 12px 50px rgba(0,0,0,.4);
    --wp--preset--shadow--sharp: 6px 6px 0px rgba(0,0,0,.2);
    --wp--preset--shadow--outlined: 6px 6px 0px -3px rgba(255,255,255,1),6px 6px rgba(0,0,0,1);
    --wp--preset--shadow--crisp: 6px 6px 0px rgba(0,0,0,1);
    font-family: 'EpilogueVariableFont_wght',sans-serif;
    line-height: 15px;
    user-select: none;
    font-weight: 400;
    font-size: 80px;
    color: #1d1d1b;
    x: 0px;
    y: 0px;
    margin-top: 0px;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    height: 104%;
}

.nb{
    background: none;
    border: none;
    outline: none;
    font-family: adm;
    font-size: 29px;
    font-weight: 200;
    text-transform: uppercase;
    margin-right: 45px;
    color: #1D1D1B;
}

.nb:hover{
    color: #D66F46;
}

.nb :nth-child(1){
    margin-right: 0px;
}


.navcons i{
    font-size: 30px;
    font-weight: 100;
    /* margin-right: 20px; */
    color: #1D1D1B;
}

.navcons i:hover{
    color: #D66F46;
}

.navcons i:nth-child(1){
    margin-right: 20px;
}

.center{
    height: calc(100vh - 130px);
    width: 100%;
    margin-top: 130px;
    position: relative;
}

.center img{
    
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.center .pop-up{
    height: 500px;
    width: 350px;
    border-radius: 25px;
    background-color: #D66F46;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50% , -50%);
    padding: 20px 30px;
}

.pop-up h1{
    font-size: 24px;
    font-family: adr;
    text-align: center;
    font-weight: 500;
    /* background-color: #00d082; */
    margin-bottom: 20px ;
    letter-spacing: 0.5px;
    position: relative;
    text-transform: uppercase;

}

.pop-up i{
    /* background-color: #007aff; */
    font-size: 70px;
    margin-left: 35%;
    /* transform: translate(-50%, 0%); */
}

.pop-up p{
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
    font-family: ev;
}

.pop-up p:last-child{
    text-transform: capitalize;
}

.email{
    width: 100%;
    height: 30px;
    outline: none;
    background: none;
    border: none;
    text-align: center;
    border-bottom: 2px solid rgb(67, 67, 67);
    font-size: 14px;
    font-family: ev;
    color: white;
}

.pop-up button{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border: none;
    outline: none;
    background-color: #772f13;
    font-size: 24px;
    font-family: adr;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #D66F46;
    text-transform: uppercase;
}

.pop-up button:hover{
    color: #772f13;
    border: 1px solid #772f13;
    background-color: #D66F46;
}

input[type=radio].radio {
    accent-color: #D66F46;
}

::placeholder{
    color: rgb(202, 200, 200);
}

label{
    margin-top: -20px;
    text-align: center;
    font-size: 10.5px;
    margin-bottom: 20px;
    font-family: ev;
    word-spacing: -1px; 
}


#nav-premier{
    height: 50px;
    width: 100%;
    background-color: #D66F46;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    position: absolute;
    bottom: 0%;
    overflow-x: hidden;
}
#nav-premier::-webkit-scrollbar{
    display: none;
}

#nav-premier h3{
    font-size: 30px;
    font-family: adr;
    font-weight: 500;
    display: inline-block;
    text-transform: uppercase;
    margin-top: 7px;
    padding: 0px 30px;
    letter-spacing: 1px;
    color: #64250c;
    animation-name: move;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes move{
   0%{
    transform: translateX(0);
   }
   100%{
    transform: translateX(-100%);
   }
}

#text-3{
    width: 100%;
    height: 40vh;
    display: flex;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.text-31{
    width: 25%;
    height: 100%;
    padding: 20px;
}

.text-31 p{
    width: 37%;
    text-transform: uppercase;
    font-size: 22px;
    font-family: adr;
}

.text-32{
    width: 50%;
    height: 100%;
    padding: 20px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.text-32 p{
    width: 90%;
    text-transform: uppercase;
    font-size: 42px;
    font-family: adr;
    word-spacing: 1px;
    line-height: 45px;
}

.text-33{
    width: 25%;
    height: 100%;
    padding: 20px;
    position: relative;
}

.text-33 .imgg{
    height: 50%;
    width: 50%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50% , -30%);
}

.text-33 p{
    width: 100%;
    padding: 0px 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    font-family: ev;
    margin-top: 60%;
    font-weight: 600;   
}
#btm-nav{
    height: 70px;
    width: 100%;
    background-color: #EDEBE3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    border-bottom: 1px solid black;
}

#btm-nav h1{
    font-size: 28px;
    font-family: adr;
    text-transform: uppercase;
    font-weight: 500;
}

#btm-nav i{
    font-size: 30px;
}

#page2{
    margin-top:0px;
    height: 140vh;
    /* padding: 20px; */
    width: 100%;
    background-color: #EDEBE3;
    padding-top: 1px;
    position: relative;
}

#product{
    background-color: transparent;
    width: 100%;
    height: 60vh;
    /* border: 1px solid black; */
    display: flex;
    gap: 22px;
    border-bottom: 1px solid black;
}

#pro{
    width: 24%;
    height: 100%;
    border: 1px solid black;
    border-bottom: none;
    border-top: none;
    object-fit: cover;
    object-position: center;
    padding: 20px;
    position: relative;
}

.image{
    width: 80%;
    height: 80%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    opacity: 1;
    transition: all ease 0.5s;

}

.image1{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    transition: all ease 0.5s;
    opacity: 0;
}

.product1{
    background-position: center;
    background-size: cover;
    opacity: 1;
    margin-left: 20px;
}

#pro .image:hover{
    opacity: 0;
}

#pro .image1:hover{
    opacity: 1;
}

.product2{
    background-position: center;
    background-size: cover;
    opacity: 1;
}

.product3{
    background-position: center;
    background-size: cover;
    opacity: 1;
}

#pro #btm-nav{
    height: 50px;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    position: absolute;
    bottom: 5%;
    left: 0%;
    border: none;
}

#pro #btm-nav h1{
    font-size: 18px;
    font-family: adr;
    text-transform: uppercase;
    font-weight: 500;
    color: black;
}

#pro #btm-nav i{
    font-size: 20px;
}

#two-images{
    height: 80vh;
    width: 100%;
    background-color: #007aff;
    display: flex;
}

.oneimages{
    height: 100%;
    width: 50%;
    background-color: #00d082;
}

.twoimages{
    height: 100%;
    width: 50%;
    background-color: #075337;
    position: relative;
}

.images-text{
    height: 80%;
    width: 100%;
    background-color: transparent;
}

.images-text img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.images-text p{
    font-size: 40px;
    font-family: apri;
    color: white;
    opacity: 0;
    position: absolute;
}

.images-text .images-text p{
    opacity: 1;
}

.images-text img:hover{
    opacity: 0;
}

.images-buttons{
    height: 20%;
    width: 100%;
    background-color: #6b003e;
    position: relative;
    display: flex;
}

.images-buttons .ib1 p:hover{
    color: #772f13;
    background-color: #D66F46;
}

.images-buttons .ib1{
    height: 100%;
    width: 50%;
    background-color: #D66F46;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.ib1 p{
    height: fit;
    width: fit;
    /* background-color: rgb(202, 46, 46); */
    font-family: adr;
    text-transform: uppercase;
    font-size: 40px;
    /* padding: 50px 120px; */
    /* border: 1px solid black; */
    border-left:none ;
    transition: all ease 0.5s;
}

#footer{
    height: 40vh;
    width: 100%;
    /* background-color: #007aff; */
    position: relative;
    display: flex;
    margin-top: 71px;
}

.footer-l{
    height: 100%;
    width: 50%;
    /* background-color: #075337; */
    position: relative;
    border-bottom: 1px solid black;
}

.footer-l .pop-up{
    height: 100%;
    width: 100%;
    border-radius: 25px;
    /* background-color: #D66F46; */
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50% , -50%);
    padding: 20px 100px;
}

.footer-l .pop-up h1{
    font-size: 28px;
    font-family: adr;
    text-align: center;
    font-weight: 500;
    /* background-color: #00d082; */
    margin-top: 30px;
    margin-bottom: 0px ;
    letter-spacing: 0.5px;
    position: relative;
    text-transform: uppercase;

}

.footer-l .pop-up p:last-child{
    text-transform: capitalize;
}

.footer-l .email{
    width: 100%;
    height: 30px;
    outline: none;
    background: none;
    border: none;
    text-align: center;
    border-bottom: 2px solid rgb(128, 125, 125);
    font-size: 14px;
    font-family: ev;
    color: white;
}

.footer-l .pop-up button{
    width: 70%;
    height: 40px;
    margin-left: 18%;
    margin-top: 50px;
    border: none;
    outline: none;
    background-color: #772f13;
    font-size: 24px;
    font-family: adr;
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #D66F46;
    text-transform: uppercase;
}

input[type=radio].radio {
    accent-color: gray;
}

::placeholder{
    color: rgb(138, 132, 132);
}

label{
    margin-top: -20px;
    text-align: center;
    font-size: 13.5px;
    margin-bottom: 20px;
    font-family: ev;
    word-spacing: -1px; 
}


.footer-r{
    height: 100%;
    width: 50%;
    /* background-color: #0ed28a; */
    padding: 50px 50px;
    display: flex;
    justify-content: space-around;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.footer-r li{
    font-family: ev;
    font-size: 15px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.promo-line{
    height: 25px;
    width: 100%;
    text-align: center;
}

.promo-line p{
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
    font-family: ev;
}